* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    --font-paragraph: 1.5rem;
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    margin: 0 1rem;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 1440px;
}

.header__link {
    padding: 0 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #00000099;
    transition: all 250ms linear 0s;
}
.header__link:hover {
    color: hsl(5, 85%, 63%);
}

#header__openMenu {
    border: none;
    background-color: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: none;
}
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
}
.content__item {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;

}
.content__item img {
    height: 25rem;
    padding: 0 .5rem .5rem 0;
    width: 100%;
    max-width: 1440px;
}
.content__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: 2;
    width: 583px;
    height: auto;
    width: 100%;
    max-width: 1440px;
    /* height: 149px; */
}
.content__title--h1 {
    display: inline-block;
    font-size: 4rem;
    font-weight: bolder;
    justify-content: space-between;
    width: 230px;
    width: 100%;
    max-width: 1440px;
    height: 150px;
    margin: 0 5px 5px 0;
}
.content__paragraph--p {
    display: block;
    font-size: var(--font-paragraph);
    /* width: 294px; */
    width: 100%;
    max-width: 1440px;
    /* padding: 2px; */
    font-size: var(--font-paragraph);
    color: #00000099;
    margin-top: .9rem; 
    line-height: 2rem;
}
.content__text--text {
    position: relative;
    width: 100%;
    max-width: 1440px;
}
.content__button button {
    right: 100px;
    width: 90px;
    height: 22px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-weight: bold;
    border: none;
    font-size: .9rem;
    padding: .2rem;
    margin-top: 1.8rem;
    text-align: center;
    border-radius: .1rem;
}
.content__button button:hover {
    background-color: var(--Very-dark-blue);
}
.aside {
    /* display: flex; */
    flex: 1;
    /* width: 230px; */
    height: 382px;
    width: 100%;
    max-width: 1440px;

    flex-wrap: wrap;

    margin-left: 2.2rem;
    background-color: var(--Very-dark-blue);
}
.aside h5 {
    color: var(--Soft-orange);
    font-size: 3rem;
    padding: 13px;
    height: auto;
}
.aside h6 {
    color: var(--Off-white);
    height: auto;
    padding-left: 13px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 5px;
    padding-top: 14px;
    
}
.aside h6:hover {
    color: var(--Soft-orange);
    
}
.aside p {
    color: var(--Grayish-blue);
    height: auto;
    padding: 0 20px 15px 13px;
    line-height: 17px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.aside hr {
    border: 1px solid var(--Dark-grayish-blue);
    margin: 0 25px 0 12px;
}
.editorial {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    gap: 13px;
    margin: 25px 0 70px 0px;
}
.editorial__item {
    height: 100px;
    width: 200px;
}
.editorial img {
    height: 100px;
    width: 80px;
}
.number {
    color: var(--Grayish-blue);
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}
.editorial a {
    color: var(--Very-dark-blue);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 18px;
}
.editorial a:hover {
    color: red;
}
.paragraph {
    height: 40px;
    color: var(--Dark-grayish-blue);
    line-height: 15px;
    font-size: 1.2rem;
    padding-top: 20px;
}




/* 
@media (max-width: 1440px) {
    html {
        font-size: 50%;
    }
} */


/* 
@media (max-width: 830px) {
    .content {
        max-width: 100vw;
    }
    .content__item img {
        max-width: 100%;

    }
    .aside {
        max-width: 100%;
        min-width: 189px;
    }
} */

@media (max-width: 6019px) {
    .aside {
        height: auto;
    }
}








@media (max-width: 375px) {
    

    #header__openMenu {
        display: block;
    }

    .header .header__link {
    flex-direction: column;
    justify-content: center;
    
    height: 90px;
    width: 80px;
    bottom: 80px;
    }
    .header {
    display: flex;
    /* justify-content: center; */
    }
    
    #header__item {
        display: flex;
        display: none;
        position: fixed;
        top: 80px;
        flex-direction: column;
        background-color: whitesmoke;
        width: 200px;
        height: 300px;
        right: 0;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 35px;
    }
    .content {
        display: flex;
    }

    .content__text {
        display: flex;
        flex-direction: column;
        max-width: 375px;
    }
    .content__item img {
        width: 100%;
        padding: 0;
    }
    .content__button button {
        width: 21rem;
        max-width: 96%;
        height: 2.8rem;
    }

    .header__openMenu.active + .header__item {
        display: block;
    }

    .aside {
        flex-direction: column;
        width: auto;
        margin: 5rem 0;
    }
}
    
    
   


    


